In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Determine which values to replace if counts are less than ...? changed number for attempt 3
replace_application = list(counts[counts < 400].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Determine which values to replace if counts are less than ..? changed number for attempt 3
replace_class = list(classification[classification < 900].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Generate our categorical variable lists
categorical = ['APPLICATION_TYPE',  'AFFILIATION', 'CLASSIFICATION', 'ORGANIZATION', 'INCOME_AMT', 'USE_CASE', 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[categorical]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(categorical)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Merge one-hot encoded features and drop the originals
new_app_df = application_df.merge(encode_df, left_index=True, right_index=True).drop(columns=categorical, axis=1)
new_app_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = new_app_df['IS_SUCCESSFUL']
X = new_app_df.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer1,
    input_dim=number_input_features,
    activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2,
    activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(
    units=1,
    activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(
    loss='binary_crossentropy',
    optimizer = 'adam',
    metrics=['accuracy'])

In [ ]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [ ]:
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [ ]:
# Train the model and adding more epochs
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 56154.4258 - accuracy: 0.4983
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 19315.1016 - accuracy: 0.4976
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 40288.9727 - accuracy: 0.4879
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 20328.1484 - accuracy: 0.4965
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 11624.2227 - accuracy: 0.5014
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 24657.1641 - accuracy: 0.5164
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 9026.9404 - accuracy: 0.5030
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 13757.2578 - accuracy: 0.5091
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 16568.0195 - accuracy: 0.5077
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 20343.3379 - accuracy: 0.5055
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 24504.3281 - accuracy: 0.5137
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 9350.5449 - accuracy: 0.5084
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 17864.6035 - accuracy: 0.4974
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 7401.6816 - accuracy: 0.5006
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 2473.4751 - accuracy: 0.5281
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 10268.1973 - accuracy: 0.5021
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 5729.9868 - accuracy: 0.5230
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 1696.2299 - accuracy: 0.5431
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 5373.1787 - accuracy: 0.5198
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 4080.8979 - accuracy: 0.5213
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 1506.7444 - accuracy: 0.4836
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 701.9557 - accuracy: 0.5219
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 388.4664 - accuracy: 0.5016
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6614 - accuracy: 0.5649
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6405 - accuracy: 0.6297
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6380 - accuracy: 0.6330
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6329 - accuracy: 0.6465
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6313 - accuracy: 0.6506
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6309 - accuracy: 0.6510
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6304 - accuracy: 0.6512
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6301 - accuracy: 0.6526
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6301 - accuracy: 0.6506
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7006 - accuracy: 0.5860
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5323
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5324
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5324
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5324
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5324

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.9145 - accuracy: 0.7030 - 417ms/epoch - 2ms/step
Loss: 0.9144903421401978, Accuracy: 0.7029737830162048

In [24]:
#Export the model to HDF5 file
nn.save('h5_files/trained_AlphabetSoupCharity_Optimization.h5')